VITE_API_URL=/api
VITE_API_PROXY_TARGET=http://localhost:3000
VITE_USE_POLLING=false
VITE_VAPID_PUBLIC_KEY=BFZBNheVRsFtA9hjMy6xp_LWIGtqKJSJxZ8hPD7aj8H_N6s4G1Q-7amGGhiOvZ4LScYzqMEqVJHAsbXcAUTbXRY
VITE_VAPID_PRIVATE_KEY=zXq3mRdK8vW5yTn9pL2sH7jF4bN6cA1eG0iM8oQ3uY